<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img *ngIf="isLoggedIn" src="https://cdn0.iconfinder.com/data/icons/communication-456/24/account_profile_user_contact_person_avatar_placeholder-512.png" alt="User Profile" class="rounded-circle me-2" width="40" height="40">
  <span *ngIf="isLoggedIn" class="text-primary fw-bold">{{getLoggedUserUsername()}}</span>
  <div class="container px-5">
    <a class="navbar-brand" [routerLink]="isLoggedIn ? '/dashboard' : '/'">Stream Line</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/profile">Profile</a>
        </li>
        <li *ngIf="isLoggedIn" (click)="onLogout()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
