<h1>{{getTitle()}}</h1>

<div (click)="processOnCreate()" class="btn" >Create customer</div>
<cc-data-grid
[inputHeaderConfig]="dataGridMapping"
[inputDataSource]="customers"
[isNavigatable] = "true"
(onEdit) = "processOnEdit($event)"
(onRemove) = "processOnDelete($event)"
(onNavigate)="processOnNavigate($event)"
>


</cc-data-grid>

@if (isEditFormVisible && selectedCustomer){
  <input [(ngModel)]="selectedCustomer.name" type="text">
  <button (click)="processOnSave()">Edit</button>
}

@if (isCreateFormVisible){
  <input #saveInput type="text">
  <button (click)="processOnCreateCustomer(saveInput.value)">Save</button>
}

