<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6 header-title">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Connect Seamlessly with Stream-Line!</h1>
          <p class="lead text-white-50 mb-4">Experience the ultimate communication platform built for communities, teams, and friends. Chat, collaborate, and connect with all in one place.</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/dashboard">Login now</a>
            <a class="btn btn-outline-light btn-lg px-4" routerLink="/register">Register now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
